@model List<AcunMedyaAkademiProject3.Entities.About>

<!-- About Section -->
@foreach(var item in Model){
    <section id="about" class="about section">
        
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3>@item.Title</h3>
                    <img src="@item.ImageUrl" class="img-fluid rounded-4 mb-4" alt="">
                    <p>@item.Description1</p>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
                    <div class="content ps-0 ps-lg-5">
             
                        <p>
                           @item.Description2
                        </p>

                        <div class="position-relative mt-4">
                            <img src="/Dewi-1.0.0/assets/img/about-2.jpg" class="img-fluid rounded-4" alt="">
                            <a href="@item.VideoUrl" class="glightbox pulsating-play-btn"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /About Section -->
}
